
<div id="summary"></div>

<table class="table table-condensed table-striped" id="servers">
<thead>
<tr>
    <td style="width: 70px">Server</td>
    <td style="width: 120px">IP</td>
    <td style="width: 90px">Queries</td>
    <td style="width: 90px">Response time</td>
    <td style="width: 80px">Version</td>
    <td style="width: 150px">Restarted</td>
    <td style="width: 150px">Last updated</td>
    <td style=""></td>
</tr>
</thead>
<tbody>
    
</tbody>
</table>

<button class="btn" data-toggle="button" id="debug_toggle">Show debug</button>

<pre id="status_dump">
 Loading...
</pre>
